
__pycache__/
audio_files_test/
Test_dataset/

app/record
app/__pycache__
app/test.py
app/models

HiBujdosoandJesper.png
mel_spectogram.png
MelSpectrogram.png
Spectigrammy.png

report/
record/output.wav